<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>username: <%= idPost.username %></h1>
    <p>Edit your post now</p>
    <form method="post" action="/posts/<%=idPost.id%>?_method=PATCH">
      <textarea name="content" id="content"><%= idPost.content %></textarea>
      <button>send</button>
    </form>
  </body>
</html>
