<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <form method="post" action="/posts">
      <input type="text" placeholder="Enter Your username" name="username" />
      <br />
      <textarea name="content" id="content"></textarea> <br />
      <button class="btn">Post</button>
      <a href="http://localhost:8080/posts" class="btn">back to home</a>
    </form>
  </body>
</html>
